html {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
